<form action="/submitAttack"  method="Post">
<div  class="container col-xs-12" id="combat_output_holder" style="width:100%;color:white;"><p id="combat_output">Attack Results displayed below:</p></div>
    <input id="combatOutputJSON" name="combatOutputJSON" style="color:black" value= "" readonly>
           <button type="submit" name="submitAttack">Register Attack</button> </form>
		