table,th,td {
border: 1px solid black;
/*background-color:#CC8080;*/
background-color:clear;
font-family:sans-serif;
font-size:1em;
vertical-align: center;
text-align: center;
}
table {
  margin-left:auto;
  margin-right:auto;
}
td {
  text-align: center;
  width: 200px;
}
tr {
  /*width: 50px;*/
}
td, tr{
  padding:15px;
}
/*div {
  background-color:black;
  color:white;
  font-family:Verdana;
  font-family:2em;
  width:50px;
 
}*/
input[type="button"] {
  background-color:black;
  color:white;
  font-family:Comic, serif;
  font-size:24px;
  font-family:2em;
  width:300px;
  height:100px;
}
input {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.center {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  border: black solid 1px;
  background-color:clear;
  width:70%;
}
span {background-color:#ADEBAD;}
p{
  font-size:18px;
  font-family:sans-serif;
}
body,html {
  height:100%;
  width:70%;
  margin-left:auto;
  margin-right:auto;
  background-image:url(../img/backgroundLogo.png);
  background-position:center bottom;
  background-repeat:no-repeat;
  background-color:#ADEBAD;
}
