
 <% include _header %>
<div class="container-fluid">
   
    
<div id="attack_info" class="container col-xs-12" style="text-align:center">
    </div>
<button class="btn btn-primary col-xs-12" name="newAttack" onclick="clearCurrentAttack()">New Attack Roll</button>

  <div  class="container col-xs-12" id="combat_output_holder" style="width:100%;color:white;"><p id="combat_output"></p>
            
		</div>  
    <input id="combatOutputJSON" name="combatOutputJSON"  hidden readonly/>
    </div>


     
<% include _footer %>     

